@charset 'utf-8';

.container, .section {width:100%;height:100%;position: relative;}
.section .group1 {width:100%;height:100%;position: relative;max-width: 1200px;margin: auto;z-index: 1000;text-align: center;}


/** imsi **/
.section .group1 span {width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;font-size: 50px;color: #fff;}

.onePage_buttons {position: fixed;right: 0;width: 30px;height: auto;overflow: hidden;top: 50%;z-index: 100000;}
.onePage_buttons ul li a {width: 15px;height: 15px;border: 2px solid #fff;display: block;border-radius: 50%;margin-bottom: 5px;box-sizing: border-box;}
.onePage_buttons ul li.active a{background:#e7d449;border:0px;} 

.onePage_util {position: fixed;height: 100%;z-index: 10000;top: 0;display:inline-block;}
.onePage_util ul {position: absolute;top: 50%;text-align: center;left: 0;transform: translateY(-50%);padding-left: 30px;}
.onePage_util ul li {/* padding: 20px; *//* font-size: 20px; */color: #fff;margin-bottom: 10px;}
.onePage_util ul li a {text-shadow: 0px 0px 1px black;width: 40px;height: 40px;display: block;position: relative;margin: auto;transition: all ease 0.2s;}
.onePage_util ul li a:hover {    transform: scale( 1.4 );}
.onePage_util ul li.active {    color: #ff6600;}
.onePage_util ul li.active a {    text-shadow: none;}

.onePage_util ul li:nth-child(1) a{/* margin-bottom: 13px; */}
.onePage_util ul li:nth-child(2) a{    height: 38px;}

.onePage_util ul li a:before {content: '';position: absolute;width: 100%;height: 100%;left: 0;background-size: 30px;background-repeat: no-repeat;}
.onePage_util ul li:nth-child(1) a:before {background-image: url(./../img/ico_home_off.png);}
.onePage_util ul li:nth-child(2) a:before {background-image: url(./../img/ico_skill_off.png);}
.onePage_util ul li:nth-child(3) a:before {background-image: url(./../img/ico_portfolio_off.png);background-size: 30px;}
.onePage_util ul li:nth-child(4) a:before {background-image: url(./../img/ico_contact_off.png);background-size: 30px;}

.onePage_util ul li.active:nth-child(1) a:before {background-image: url(./../img/ico_home_on.png);}
.onePage_util ul li.active:nth-child(2) a:before {background-image: url(./../img/ico_skill_on.png);}
.onePage_util ul li.active:nth-child(3) a:before {background-image: url(./../img/ico_portfolio_on.png);background-size: 30px;}
.onePage_util ul li.active:nth-child(4) a:before {background-image: url(./../img/ico_contact_on.png);background-size: 30px;}
.onePage_util ul li:nth-child(3n) a, .onePage_util ul li:nth-child(4n) a {height: 35px;}

.onePage_util .util_on {background: rgba(148, 41, 255, 0.2);border-right: 0px solid #4a029130;width: 100px!important;height: 100%;position: absolute;}
.onePage_util .util_btn {width: 60px;height: 60px;display: block;position: absolute;top: 50%;left: 10px;background-repeat: no-repeat;z-index: 10000;transform: translateY(-50%);border-radius: 50%;padding-top: 25px;text-align: center;cursor: pointer;}
.onePage_util .util_btn.active_btn:before {content: '';position: absolute;background: rgba(148, 41, 255, 0.2);width: 60px;height: 30px;border-radius: 100px 100px 0px 0px;transform: rotate(90deg);left: 16px;}
.onePage_util .util_btn .line {width: 30px;height: 3px;background-color: #fff;display: block;margin: 4px auto;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.onePage_util .util_btn .line:nth-child(3) {background: rgba(255, 255, 255, 0);font-size: 12px;margin: 0px;height: 10px;width: 100%;line-height: 8px;color: #fff;letter-spacing: 0px;}

.onePage_util .util_btn.active_btn .line:nth-child(1){-webkit-transform: translateY(13px) rotate(45deg);-ms-transform: translateY(13px) rotate(45deg);-o-transform: translateY(13px) rotate(45deg);transform: translateY(10px) rotate(45deg);}
.onePage_util .util_btn.active_btn .line:nth-child(2){-webkit-transform: translateY(-13px) rotate(-45deg);-ms-transform: translateY(-13px) rotate(-45deg);-o-transform: translateY(-13px) rotate(-45deg);transform: translateY(2px) rotate(-45deg);}
.onePage_util .util_btn.active_btn .line:nth-child(3){  opacity: 0;}

/* .onePage_util a.util_btn.active_btn .line:nth-child(1) {    -webkit-transform: translateX(10px) rotate(45deg);    -ms-transform: translateX(10px) rotate(45deg);    -o-transform: translateX(10px) rotate(45deg);    transform: translateX(10px) rotate(45deg);} */
/* .onePage_util a.util_btn.active_btn .line:nth-child(1), .onePage_util a.util_btn.active_btn .line:nth-child(3) {width: 23px;} */
/* .onePage_util a.util_btn.active_btn .line:nth-child(3) {    -webkit-transform: translateX(10px) rotate(-45deg);    -ms-transform: translateX(10px) rotate(-45deg);    -o-transform: translateX(10px) rotate(-45deg);    transform: translateX(10px) rotate(-45deg);} */
/* .onePage_util a.util_btn.active_btn {display: none;} */

/* vlogo */
/* .onePage_util:before {    background: url(./../img/ico_v-mark.png);    position: absolute;    content: '';    top: 10px;    background-repeat: no-repeat;    background-size: 100%;   width: 50px;    height: 45px;    left: 10px;    opacity: 0.9;} */
	
.section_main{  background: linear-gradient( to right, #68e1ff, #997eff );}
.section_main .group1 {width: 100%;height: 100%;display: flex;align-items: center;text-align: center;z-index: 100;justify-items: center;justify-content: center;max-width: 100%;}
.section_main canvas.particles-js-canvas-el {position: absolute;top: 0;z-index: 100;left:0;height:110%!important;}

.section_skills{  background: linear-gradient( to right, #68e1ff, #997eff );}
.section_skills:before {content: '';position: absolute;bottom: 0;height: 100%;width: 100%;left: 0;background: linear-gradient( to top, #edeef8, rgba(255, 255, 255, 0));/* opacity: 0.3; */z-index: 10;}

.section_portfolio{/* background: #fff; */}
.section_portfolio:before {content: '';position: absolute;background: linear-gradient( to bottom, #ecedf9, rgb(180, 183, 228));width: 100%;height: 100%;}

.section_contact{/* background: #fff; */background-image: url(./../img/bg_sunset3.jpg);background-repeat: no-repeat;background-size: cover;}
.section_contact:before {width: 100%;height: 100%;content: '';position: absolute;background: linear-gradient( to bottom, rgba(253, 253, 255, 0.44), rgba(121, 128, 208, 0));}
.sub_title {font-size: 50px;font-weight: bold;color: #fff;display: inline-block;margin: auto;text-align: center;top: 20%;position: relative;width: auto;line-height: 55px;/* margin-top: 200px; */border-bottom: 3px solid rgba(255, 255, 255, 0.68);padding-bottom: 3px;}

.color_white {    color: #fff;}
.color_purple {    color: #f750ff;}

.mainTitle {font-size: 50px;line-height: 58px;letter-spacing: -2px;font-weight: 300;width: auto;z-index: 1000;}
.mainTitle b{position: relative;z-index: 1000;transition: all 0.2s ease-in-out;z-index:100000;}
.mainTitle b:after{content: "";    position: absolute;    width: 100%;    height: 3px;    bottom: 10px;    left: 0;    background: rgba(255, 255, 255, 0.6);    visibility: hidden;    border-radius: 5px;    transform: scaleX(0);    transition: .25s linear;z-index:-10;}
.mainTitle b:hover:after,.mainTitle b:focus:after {  visibility: visible;  transform: scaleX(1);}

/* a.button {display: inline-block;width: auto;margin-top: 20px;border: 2px solid #fff;text-align: center;padding: 15px 40px;font-size: 25px;line-height: 25px;color: #fff;z-index: 1000;position: relative;background: rgba(255, 255, 255, 0.1);} */
a:focus, a:hover {    cursor: pointer;}

.preserve-3d {transform-style: preserve-3d;-webkit-transform-style: preserve-3d;}
.button {margin: 0;border: 0;font-size: 20px;position: relative;letter-spacing: 0px;top: 50%;left: 50%;margin-top: 17px;margin-left: -100px;width: 200px;height: 50px;text-align: left;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-user-select: none;cursor: default;box-sizing: border-box;}
.button:hover {cursor: pointer;}
.button_3d_double {perspective: 500px;-webkit-perspective: 500px;-moz-perspective: 500px;transform-style: preserve-3d;-webkit-transform-style: preserve-3d;z-index: 100000;position: relative;}
.button_3d_double a {position: absolute;text-align: center;padding: 10px;border: #fff solid 3px;pointer-events: none;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;z-index: 9999999999999;position: relative;}
.button_3d_double a:nth-child(1) {color: #fff;background-color: rgba(255, 255, 255, 0.1);z-index: 0;width: 100%;height: 50px;clip: rect(0px, 100px, 50px, 0px);position: absolute;transition: all 0.2s ease;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;transform: rotateX(0deg);-webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);transform-origin: 50% 50% -25px;-webkit-transform-origin: 50% 50% -25px;-moz-transform-origin: 50% 50% -25px;}
.button_3d_double a:nth-child(2) {color: #fff;background-color: #fff;z-index: -1;width: 100%;height: 50px;clip: rect(0px, 100px, 50px, 0px);position: absolute;transform: rotateX(90deg);-webkit-transform: rotateX(90deg);-moz-transform: rotateX(90deg);transition: all 0.2s ease;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;transform-origin: 50% 50% -25px;-webkit-transform-origin: 50% 50% -25px;-moz-transform-origin: 50% 50% -25px;}
.button_3d_double a:nth-child(3) {color: #fff;background-color: rgba(255, 255, 255, 0.1);z-index: 0;width: 100%;height: 50px;clip: rect(0px, 200px, 50px, 100px);position: absolute;transition: all 0.2s ease 0.1s;-webkit-transition: all 0.2s ease 0.1s;-moz-transition: all 0.2s ease 0.1s;transform: rotateX(0deg);-webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);transform-origin: 50% 50% -25px;-webkit-transform-origin: 50% 50% -25px;-moz-transform-origin: 50% 50% -25px;}
.button_3d_double a:nth-child(4) {color: #fff;background-color: #fff;z-index: -1;width: 100%;height: 50px;clip: rect(0px, 200px, 50px, 100px);position: absolute;transform: rotateX(-90deg);-webkit-transform: rotateX(-90deg);-moz-transform: rotateX(-90deg);transition: all 0.2s ease 0.1s;-webkit-transition: all 0.2s ease 0.1s;-moz-transition: all 0.2s ease 0.1s;transform-origin: 50% 50% -25px;-webkit-transform-origin: 50% 50% -25px;-moz-transform-origin: 50% 50% -25px;}
.button_3d_double:hover a:nth-child(1) {transition: all 0.2s ease;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;transform: rotateX(-90deg);-webkit-transform: rotateX(-90deg);-moz-transform: rotateX(-90deg);}
.button_3d_double:hover a:nth-child(2) {color: #7db8ff;transition: all 0.2s ease;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;transform: rotateX(0deg);-webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);}
.button_3d_double:hover a:nth-child(3) {transition: all 0.2s ease 0.1s;-webkit-transition: all 0.2s ease 0.1s;-moz-transition: all 0.2s ease 0.1s;transform: rotateX(90deg);-webkit-transform: rotateX(90deg);-moz-transform: rotateX(90deg);}
.button_3d_double:hover a:nth-child(4) {color: #7db8ff;transition: all 0.2s ease 0.1s;-webkit-transition: all 0.2s ease 0.1s;-moz-transition: all 0.2s ease 0.1s;transform: rotateX(0deg);-webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);}

/*imsi*/
.util_btn.active_btn { display: none;transition: all 0.2s ease 0.1s;}
.onePage_util .util_btn.active_btn:before{display: none;}


@media (max-width: 1100px) {
    .section_main .group1{    width: 96%;}
    .section_main .group1 .layer1{    width: 80%;    word-break: break-word;}
    
}




@media (max-width: 850px) {
 .onePage_util {    width: 100%!important;    height: 50px;}
 .onePage_util .util_on {    width: 100%!important;    left: 0px!important;    top: -50px;transition: all 0.2s ease;}
 .onePage_util .util_on ul{height: auto;}
 .onePage_util .util_on ul li{display: inline-block;text-align: center;padding-right: 7px;position: relative;top: 10px;}
 .onePage_util .util_btn{right: 0;padding-top: 0px;transform: translateY(0px);top: 10px;left: auto!important;}
 .onePage_util.util_active .util_btn{display: block!important;height: auto;}
 .onePage_util.util_active .util_on {top:0px!important;}

 .section_main .group1 .layer1 .mainTitle{    font-size: 35px;    line-height: 41px;}
}




@media (max-width: 450px) {

}
