@charset 'utf-8';

.container, .section {width:100%;height:100%;position: relative;}
.section .group1 {width:100%;height:100%;position: relative;max-width: 1200px;margin: auto;z-index: 1000;}


/** imsi **/
.section .group1 span {width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;font-size: 50px;color: #fff;}

.onePage_buttons {position: fixed;right: 0;width: 30px;height: auto;overflow: hidden;top: 50%;z-index: 100000;}
.onePage_buttons ul li a {width: 15px;height: 15px;border: 2px solid #fff;display: block;border-radius: 50%;margin-bottom: 5px;box-sizing: border-box;}
.onePage_buttons ul li.active a{background:#e7d449;border:0px;} 

.onePage_navi {position: fixed;height: 100%;z-index: 10000;top: 0;display:inline-block;}
.onePage_navi ul {position: absolute;top: 50%;text-align: center;left: 0;transform: translateY(-50%);padding-left: 30px;}
.onePage_navi ul li {/* padding: 20px; *//* font-size: 20px; */color: #fff;}
.onePage_navi ul li a {    text-shadow: 0px 0px 1px black;    width: 25px;    height: 25px;    display: block;    position: relative;    margin: auto;    margin-bottom: 10px;}
.onePage_navi ul li a:hover {    zoom: 1.4;}
.onePage_navi ul li.active {    color: #ff6600;}
.onePage_navi ul li.active a {    text-shadow: none;}

.onePage_navi ul li:nth-child(1) a{    margin-bottom: 13px;}
.onePage_navi ul li:nth-child(2) a{}

.onePage_navi ul li a:before {content: '';position: absolute;width: 100%;height: 100%;left: 0;background-size: 100%;background-repeat: no-repeat;}
.onePage_navi ul li:nth-child(1) a:before {background-image: url(./../img/ico_home_off.png);}
.onePage_navi ul li:nth-child(2) a:before {background-image: url(./../img/ico_skill_off.png);}
.onePage_navi ul li:nth-child(3) a:before {background-image: url(./../img/ico_portfolio_off.png);background-size: 95%;}
.onePage_navi ul li:nth-child(4) a:before {background-image: url(./../img/ico_contact_off.png);background-size: 95%;}

.onePage_navi ul li.active:nth-child(1) a:before {background-image: url(./../img/ico_home_on.png);}
.onePage_navi ul li.active:nth-child(2) a:before {background-image: url(./../img/ico_skill_on.png);}
.onePage_navi ul li.active:nth-child(3) a:before {background-image: url(./../img/ico_portfolio_on.png);background-size: 95%;}
.onePage_navi ul li.active:nth-child(4) a:before {background-image: url(./../img/ico_contact_on.png);background-size: 95%;}
.onePage_navi a.mmenu_btn {width: 35px;height: 35px;background-image: url(./../img/ico_menu_off.png);display: block;position: absolute;top: 50%;left: 10px;background-repeat: no-repeat;z-index: 10000;transform: translateY(-50%);}
.onePage_navi.mmenu_active .mmenu_btn {    left: 100px;    background-image: url(./../img/ico_menu_on.png);}
.onePage_navi.mmenu_active {    background: rgba(148, 41, 255, 0.2);    border-right: 0px solid #4a029130;    width: 150px!important;}


/* vlogo */
/* .onePage_navi:before {    background: url(./../img/ico_v-mark.png);    position: absolute;    content: '';    top: 10px;    background-repeat: no-repeat;    background-size: 100%;   width: 50px;    height: 45px;    left: 10px;    opacity: 0.9;} */
	
.section_main{  background: linear-gradient( to right, #68e1ff, #997eff );}
.section_main .group1 {width: 100%;height: 100%;display: flex;align-items: center;text-align: center;z-index: 100;justify-items: center;justify-content: center;max-width: 100%;}
.section_main canvas.particles-js-canvas-el {position: absolute;top: 0;z-index: 100;left:0;height:110%!important;}

.section_skills{  background: linear-gradient( to right, #68e1ff, #997eff );}
.section_skills:before {content: '';position: absolute;bottom: 0;height: 100%;width: 100%;left: 0;background: linear-gradient( to top, #fff, rgba(255, 255, 255, 0));/* opacity: 0.3; */z-index: 10;}

.section_portfolio{background: #fff;}
.section_contact{background: #fff;}

.sub_title {font-size: 50px;font-weight: bold;color: #fff;display: block;margin: auto;text-align: center;top: 20%;position: relative;width: auto;}
.sub_title:before {content: '';position: absolute;height: 3px;background: #fff;bottom: -22px;width: 145px;}
.color_white {    color: #fff;}
.color_purple {    color: #f750ff;}

.mainTitle {font-size: 50px;line-height: 58px;letter-spacing: -2px;font-weight: 300;width: auto;z-index: 1000;}
.mainTitle b{position: relative;z-index: 1000;transition: all 0.2s ease-in-out;z-index:100000;}
.mainTitle b:after{content: "";    position: absolute;    width: 100%;    height: 3px;    bottom: 10px;    left: 0;    background: rgba(255, 255, 255, 0.6);    visibility: hidden;    border-radius: 5px;    transform: scaleX(0);    transition: .25s linear;z-index:-10;}
.mainTitle b:hover:after,.mainTitle b:focus:after {  visibility: visible;  transform: scaleX(1);}


/* a.button {display: inline-block;width: auto;margin-top: 20px;border: 2px solid #fff;text-align: center;padding: 15px 40px;font-size: 25px;line-height: 25px;color: #fff;z-index: 1000;position: relative;background: rgba(255, 255, 255, 0.1);} */
a:focus, a:hover {    cursor: pointer;}

.preserve-3d {transform-style: preserve-3d;-webkit-transform-style: preserve-3d;}
.button {margin: 0;border: 0;font-size: 18px;position: relative;top: 50%;left: 50%;margin-top: 17px;margin-left: -100px;width: 200px;height: 50px;text-align: left;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-user-select: none;cursor: default;box-sizing: border-box;}
.button:hover {cursor: pointer;}
.button_3d_double {perspective: 500px;-webkit-perspective: 500px;-moz-perspective: 500px;transform-style: preserve-3d;-webkit-transform-style: preserve-3d;z-index: 100000;position: relative;}
.button_3d_double a {position: absolute;text-align: center;padding: 10px;border: #fff solid 3px;pointer-events: none;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;z-index: 9999999999999;position: relative;}
.button_3d_double a:nth-child(1) {color: #fff;background-color: rgba(255, 255, 255, 0.1);z-index: 0;width: 100%;height: 50px;clip: rect(0px, 100px, 50px, 0px);position: absolute;transition: all 0.2s ease;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;transform: rotateX(0deg);-webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);transform-origin: 50% 50% -25px;-webkit-transform-origin: 50% 50% -25px;-moz-transform-origin: 50% 50% -25px;}
.button_3d_double a:nth-child(2) {color: #fff;background-color: #fff;z-index: -1;width: 100%;height: 50px;clip: rect(0px, 100px, 50px, 0px);position: absolute;transform: rotateX(90deg);-webkit-transform: rotateX(90deg);-moz-transform: rotateX(90deg);transition: all 0.2s ease;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;transform-origin: 50% 50% -25px;-webkit-transform-origin: 50% 50% -25px;-moz-transform-origin: 50% 50% -25px;}
.button_3d_double a:nth-child(3) {color: #fff;background-color: rgba(255, 255, 255, 0.1);z-index: 0;width: 100%;height: 50px;clip: rect(0px, 200px, 50px, 100px);position: absolute;transition: all 0.2s ease 0.1s;-webkit-transition: all 0.2s ease 0.1s;-moz-transition: all 0.2s ease 0.1s;transform: rotateX(0deg);-webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);transform-origin: 50% 50% -25px;-webkit-transform-origin: 50% 50% -25px;-moz-transform-origin: 50% 50% -25px;}
.button_3d_double a:nth-child(4) {color: #fff;background-color: #fff;z-index: -1;width: 100%;height: 50px;clip: rect(0px, 200px, 50px, 100px);position: absolute;transform: rotateX(-90deg);-webkit-transform: rotateX(-90deg);-moz-transform: rotateX(-90deg);transition: all 0.2s ease 0.1s;-webkit-transition: all 0.2s ease 0.1s;-moz-transition: all 0.2s ease 0.1s;transform-origin: 50% 50% -25px;-webkit-transform-origin: 50% 50% -25px;-moz-transform-origin: 50% 50% -25px;}
.button_3d_double:hover a:nth-child(1) {transition: all 0.2s ease;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;transform: rotateX(-90deg);-webkit-transform: rotateX(-90deg);-moz-transform: rotateX(-90deg);}
.button_3d_double:hover a:nth-child(2) {color: #7db8ff;transition: all 0.2s ease;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;transform: rotateX(0deg);-webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);}
.button_3d_double:hover a:nth-child(3) {transition: all 0.2s ease 0.1s;-webkit-transition: all 0.2s ease 0.1s;-moz-transition: all 0.2s ease 0.1s;transform: rotateX(90deg);-webkit-transform: rotateX(90deg);-moz-transform: rotateX(90deg);}
.button_3d_double:hover a:nth-child(4) {color: #7db8ff;transition: all 0.2s ease 0.1s;-webkit-transition: all 0.2s ease 0.1s;-moz-transition: all 0.2s ease 0.1s;transform: rotateX(0deg);-webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);}

