<!DOCTYPE html>
<html xml:lang="ko" lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10" />

		<link rel="stylesheet" type="text/css" href="../resources/js/jquery-1.12.4.min.js" />
		<link rel="stylesheet" type="text/css" href="../resources/js/jquery.mmenu.min.js" />
		<link rel="stylesheet" type="text/css" href="../resources/js/jquery.bxslider.min.js" />
		<link rel="stylesheet" type="text/css" href="../resources/js/jquery-ui-1.12.0-datepicker.js" />
		<link rel="stylesheet" type="text/css" href="../resources/js/default.js" />


		<script type="text/javascript" src="../resources/css/default.css"></script>
		<script type="text/javascript" src="../resources/css/layout.css"></script>
		<script type="text/javascript" src="../resources/css/main.css"></script>
	<head>
	
	<title>김부희의 포트폴리오</title>
	</head>
	<body>
	Hello world!
	</body>
</html>
