<!DOCTYPE html>
<html xml:lang="ko" lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10" />
		<meta name="description" content="한국원자력환경공단">
		
		<meta property="og:type" content="website">
	    <meta property="og:title" content="boohee's portfolio">
	    <meta property="og:description" content="boohee's portfolio">
	    <meta property="og:image" content="../resources/img/ico_v-mark.png">
	    <meta property="og:url" content="http://11121.github.io/portfolio/view/index.html">
		<link rel="icon" type="image/x-icon" href="../resources/img/ico_v-mark.png">	    
		
		<title>boohee's portfolio</title>
		
		<link rel="stylesheet" type="text/css" href="../resources/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../resources/css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../resources/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../resources/css/animationBuhee.css" />
		<link rel="stylesheet" type="text/css" href="../resources/css/plugin/aos.css" />
		
		<!--메인 임시폰트 -->
		<link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">
		
		<script type="text/javascript" src="../resources/js/common/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../resources/js/plugin/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="../resources/js/plugin/aos.js"></script>
		<script type="text/javascript" src="../resources/js/plugin/jquery-ui-1.12.0-datepicker.js"></script>
		<script type="text/javascript" src="../resources/js/portfolio/default.js"></script>
		<script type="text/javascript" src="../resources/js/portfolio/onePage.js"></script>
		<script type="text/javascript" src="../resources/js/portfolio/animationBuhee.js"></script>
	<head>
	
	<title>V's Portfolio</title>
	</head>
	<script>
		$(document).ready(function(){
			$(".section").onePage({
				slideButton: true, //페이징 버튼
				scrollButton : true,
				navi: true, //네비 on(모바일은 무조건 공통)
				scroll: false, // 스크롤 감추기
				naviName: ['Home','About','Portfolio','Contact']//네비 이름
			});
			
			AOS.init();
		});
	</script>
	<style>
	
	</style>
	<body>
		<div class="wrap">
			<!-- <div class="header">
				<div></div>
			</div> -->
			<div class="container">
				<div class="section section_main" >
					<div class="group1" id="particles-js">
						<div class="layer1">
							<div class="mainTitle color_white">
								<p><span data-hover="BOO">BOO</span><span data-hover="HEE">HEE</span>'s</p>
								<div class="subTitle">
									<span>portfolio</span>
									<label class="span_date">publishing||JavaScript||JQuery</label>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="section section_about">
					<div class="group1">
						<div class="mainTitle_type2">
							About
						</div>
						<div class="layer1">	
							<ul class="part_icon">
								<li>
									<img src="../resources/img/ico_responsive.png" alt="">
									<p>Responsive</p>
									<span>Will work on any device.<br>big or small</span>
								</li>
								<li>
									<img src="../resources/img/ico_rocket.png" alt="">
									<p>Dynamic</p>
									<span>Don't have to static</span>
								</li>
								<li>
									<img src="../resources/img/ico_fast.png" alt="">
									<p>Fast</p>
									<span>Fast load times</span>
								</li>
								<li>
									<img src="../resources/img/ico_idea.png" alt="">
									<p>Intuitive</p>
									<span>Intuitive UX/UI.</span>
								</li>
							</ul>						
							<ul class="part_skill">
								<li>
									<div class="part_skill_bar">
										<div data-width="95">HTML</div>
									</div>
								</li>
								<li>
									<div class="part_skill_bar">
										<div data-width="96">CSS</div>
									</div>
								</li>
								<li>
									<div class="part_skill_bar">
										<div data-width="70">PHOTOSHOP</div>
									</div>
								</li>
								<li>
									<div class="part_skill_bar">
										<div data-width="80">JAVASCRIPT</div>
									</div>
								</li>
								<li>
									<div class="part_skill_bar">
										<div data-width="82">JQUERY</div>
									</div>
								</li>
							</ul>
							<div class="part_contents">
								퍼블리셔 전 JAVA 개발자로 있으면서 
								전체적인 개발의 흐름을 이해하고 있기때문에
								개발자와의 업무 소통이 자유로우며 퍼블리셔 업무로 전향한 뒤 
								다량의 사이트를 조사하고 기술을 터득하면서 
								웹/모바일을 디자인에 따라 자유롭게 구현할 수 있습니다.
								특히 공공기관에서의 전자정부표준 프레임워크기반으로 
								제작되어진 웹의 퍼블리싱 경험으로 
								대규모 사이트에 최적화 되어있어서 
								웹 표준을 준수하고 웹 접근성을 고려하여 
								바르고 정확한 페이지를 만들고 있습니다.
							</div>
						</div>
					</div>
				</div>
				<div class="section section_portfolio">
					<div class="group1">
						<div class="mainTitle_type2">
							Portfolio
						</div>
					</div>
				</div>
				<div class="section section_contact">
					<div class="group1">
						<div class="mainTitle_type2">
							Contact
						</div>
					</div>
				</div>
			</div>
			<!--<div class="footer">
				<div></div>
			</div>-->
		<div>
		<script type="text/javascript" src="../resources/js/plugin/particles.min.js"></script>
		<script type="text/javascript" src="../resources/js/plugin/app.js"></script>
	</body>
</html>